/* body{
    background-color: #ececec;
} */
#header_holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--base-theme);
}

#header_logo{
    height: 100px;
}

#header_title{
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
}

#header_nav{
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 100%;
}

.header_navItem{
    font-size: 25px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
}

.header_navItem:hover{
    background-color: rgba(0, 0, 0, 0.3);
}


.header_navLink{
    text-decoration: none;
}

a:visited{
    color: inherit;
}

a{
    text-decoration: none;
}