#footer_holder{
    display:flex;
    justify-content: space-around;
    background-color: black;
    border-bottom: solid 3px var(--base-theme);
}

#footer_links{
    padding-top: 20px;
}

.footer_link{
    text-decoration: none;
    padding-top: 5px;
    color: white;
}

.footer_link:hover{
    text-decoration: underline solid 2px var(--base-theme);
}

#footer_xero{
    width: 200px;
}