#footer_holder{
    display:flex;
    justify-content: space-around;
    background-color: black;
    border-bottom: solid 3px var(--base-theme);
}

#footer_logoHolder{
    padding-top: 20px;
}

#footer_logo{
    height: 70px;
}


#footer_xero{
    width: 200px;
}

@media screen and (max-width: 375px) {
    #footer_holder{
        flex-direction: column;
        align-items: center;
    }
}